:root{
    --primary-color: #9f2aff;
    --secondary-color: #9027e6;
    --background-color: aliceblue;
    --text-color: #333;
    --light-text-color: #666;
    --border-radius: 6px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}
.container{
    width: 80%;
    margin: 0 auto;
}
.header{
    background-color: var(--primary-color);
    padding: 1rem;
}
.logo{
    color: aliceblue;
    font-size: 1.5rem;
    font-weight: bold;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 1rem;
}
.nav-links li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}
.nav-links lia a:hover{
    color: var(--secondary-color);
}
.menu-toggle{
    font-size: 1.5rem;
    color: white;
    display: none;
    border: none;
    background: none;
}
.main-content{
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}
.sidebar{
    width: 30%;
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 1rem;
}
.sidebar h2{
    margin-bottom: 1rem;
    color: var(--primary-color);
}
.sidebar-link{
    list-style: none;
}
.sidebar-link li a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1rem;
    display: block;
    margin-bottom: 0.5rem;
}
.sidebar-link li a:hover{
    color: var(--secondary-color);
}
.cards{
    width: 70%;
}
.cards h2{
    margin-bottom: 1rem;
    color: var(--primary-color);
}
.card{
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 1rem;
    margin-bottom: 1rem;
    transition: transform 0.3s, box-shadow 0.3s;
}
.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}
.card img{
    width: 15%;
    border-radius: var(--border-radius);
}
.card h3{
    margin: 1rem 0 0.5rem;
    color: var(--text-color);
}
.btn{
    background-color: var(--primary-color);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s;
}
.btn:hover{
    background-color: var(--secondary-color);
}
.footer{
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: var(--border-radius);
}
@media(max-width: 768px){
    .main-content{
        flex-direction: column;
    }
}